.valueContainer {
    margin-top: 3rem;
    width: 200px;
    height: 75px;
    background-color: #9DAAD9;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    font-size: 2rem;
    margin: 1;
    border: none;
    border-radius: 20px;
    height: 75px;
    box-sizing: border-box;
    background-color: #9DAAD9;
    color: white;
    text-align: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 200;
    width: 200px;
    margin-left: -48px;
}

.symbol {
    margin-left: 1rem;
    z-index: 1;
}