h1 {
  font-size: 120px;
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 3rem 0;
}

.main h1 {
  font-size: 100px;
}

#tagTypeA {
  background-color: #9DAAD9;
}